body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.aqua{
    color: aqua;
}
.dark{
    color: darkviolet;
}
#kabab{
    color: rgb(63, 12, 248);
}
body{
    margin: 5%  10% 5% 10%;
}
#vab{
    border-image-width: 100%;
}
#rab{
    color: rgb(240, 11, 22);

}